*{margin: 0px;padding: 0px;}
.d1{
    width: 100%;height: 500px;
    background:url("../img/about/download01.jpg") no-repeat top center;
}
.font_14{font-size: 14px;
    font-family: "微软雅黑", "Arial";}

.font_12{font-size: 12px;}
.font_16{font-size: 16px;}
.row>div>p{text-align: left;}
.row>div{text-align:center ;}
